.page-header {
    margin-top: 70px;
    font: 14px sans-serif;
    text-align: center; 
}

body  {
    background-image: url("../img/bg-sky.jpg");
    color: #ffffff;
}

input, textarea {
    color: #000000;
}


.panel-body {
    color: black;
  }
  
.well {
    color: black;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
